<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-1 h1">My Income Sheets</span>
</nav>

<amgr-income-sheet-search
    (selectedMonthAndYearEvent)="changeToSelectedView($event)" 
    (switchViewEvent)="changeToAllView($event)"
>
</amgr-income-sheet-search>

<hr/>

<amgr-income-sheet-actions
    [isDeleteCurrentSheetDisabled]="deleteCurrentIncomeSheetButton"
    [currentIncomeSheet]="currentlySelectedIncomeSheet"
    [userIncomeCategories]="userIncomeCategories"
>
</amgr-income-sheet-actions>

<hr/>

<p *ngIf="currentView === 'SELECTED_VIEW'">
    <amgr-income-sheet-selected-view
        [selectedMonthAndYear]="selectedPeriod" 
        [userIncomeCategories]="userIncomeCategories"
        (isDeleteSheetButtonDisabled)="disableDeleteButton($event)"
        (currentIncomeSheetInfo)="getCurrentlySelectedIncomeSheetDetail($event)"
    >
    </amgr-income-sheet-selected-view>
</p>

<p *ngIf="currentView === 'ALL_VIEW'">
    <amgr-income-sheet-all-view
    (selectedIncomeSheetForDetailedView)="getCurrentlySelectedIncomeSheetDetail($event)"
    >
    </amgr-income-sheet-all-view>
</p>

<router-outlet></router-outlet>