<div class="text-center" *ngIf="loading"> 
    <div class="spinner-border" role="loading"></div>
</div>

<form>
    <div class="form-group form-inline">
        Search : 
    </div>
  
    <table class="table table-striped">
      
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
      </thead>

      <tbody>
        <tr *ngFor="let incomeCategory of incomeCategories; index as i">
            <td> {{ i + 1 }} </td>
            <td> {{ incomeCategory.name }} </td>
            <td> {{ incomeCategory.description }} </td>
            <td>
                <button type="button" class="btn btn-info">Update</button>
                <button type="button" class="btn btn-warning">Delete</button>
            </td>
        </tr>
      </tbody>
    
    </table>
</form>

<router-outlet></router-outlet>