<form>
    <div class="form-group form-inline">
        Search : 
    </div>
  
    <table class="table table-striped">
      
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
      </thead>

      <tbody>
        <tr>
            <td> 1 </td>
            <td> Freelancing </td>
            <td> Working on fiver </td>
            <td> Update | Delete </td>
        </tr>
      </tbody>
    
    </table>
</form>

<router-outlet></router-outlet>