<form>
    <div class="mb-3 row">
      <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Search :</label>
      <div class="col-xs-3 col-sm-auto">
        <input id="table-filtering-search" class="form-control" type="text">
      </div>
    </div>
  </form>

  <div class="mb-3 row">
    <label for="totalIncome" class="col-xs-3 col-sm-auto col-form-label">Total Income : </label>
    <div class="col-xs-3 col-sm-auto">
      <label id="totalIncome">LKR 10,0000</label>
    </div>

    <label for="totalExpenses" class="col-xs-3 col-sm-auto col-form-label">Total Expenses : </label>
    <div class="col-xs-3 col-sm-auto">
      <label id="totalExpenses">{{ expenseSheet.totalAmount? expenseSheet.totalAmount : '0.00'  }}</label>
    </div>

    <label for="expenseSheetMonth" class="col-xs-3 col-sm-auto col-form-label">Month : </label>
    <div class="col-xs-3 col-sm-auto">
      <label id="expenseSheetMonth">{{ expenseSheet.month? expenseSheet.month: 'N/A' }}</label>
    </div>

    <label for="expenseSheetYear" class="col-xs-3 col-sm-auto col-form-label">Year : </label>
    <div class="col-xs-3 col-sm-auto">
      <label id="expenseSheetYear">{{ expenseSheet.year? expenseSheet.year: 'N/A' }}</label>
    </div>    
  </div>
  
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Expense Category</th>
      <th scope="col">Notes</th>
      <th scope="col">Amount</th>
      <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let expenseRecord of expenseRecords$; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td> {{ expenseRecord.date }}</td>
      <td> {{ expenseRecord.expenseCategory.name }} </td>
      <td> {{ expenseRecord.notes }} </td>
      <td> {{ expenseRecord.amount }} </td>
      <td>
        <button type="button" class="btn btn-info" (click)="openEditExpenseRecord(expenseRecord, expenseRecordEdit)">Edit</button>
        <button type="button" class="btn btn-warning" (click)="openDeleteExpenseRecord(expenseSheet._id, expenseRecord.expenseRecordId, deleteExpenseRecord)">Delete</button>
      </td>
    </tr>
    </tbody>
</table>

<!-- Expense Sheet Deletion Confirmation Modal -->
<ng-template #deleteExpenseRecord let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Expense Sheet Deletion</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p><strong>Are you sure you want to delete <span class="text-primary">"John Doe"</span> expense sheet?</strong></p>
      <p><span class="text-primary">Expense Sheet</span> and related <span class="text-primary">Expense Records</span> will be deleted.
      <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
    </div>
</ng-template>
  
<!-- Expense Record Edit Modal -->
<ng-template #expenseRecordEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Expense Record</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="recordDate">Date</label>
        <div class="input-group">
          <input id="recordDate" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>

      <div class="mb-3">
        <label for="note">Note : </label>
        <div class="input-group">
          <input id="note" class="form-control" placeholder="" name="note" [(ngModel)]="currentExpenseRecord.notes">
        </div>
      </div>

      <div class="mb-3">
        <label for="expenseCategory">Expense Category : </label>
        <div class="input-group">
          <div class="col">
            <input id="expenseCategory" type="text" class="form-control"
              [(ngModel)]="model"
              [ngModelOptions]="{ standalone: true }"
              [ngbTypeahead]="search"
              [inputFormatter]="formatter"
              [resultFormatter]="formatter"
              [editable]='false' 
              [(ngModel)]="currentExpenseRecord.expenseRecordId"/>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="amount">Amount : </label>
        <div class="input-group">
          <input id="amount" class="form-control" placeholder="" name="amount" [(ngModel)]="currentExpenseRecord.amount">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>